[submodule "plugins/logger"]
	path = plugins/logger
	url = https://github.com/collingreen/yaib_plugin_logger
[submodule "plugins/countdown"]
	path = plugins/countdown
	url = https://github.com/collingreen/yaib_plugin_countdown
[submodule "plugins/simple_response"]
	path = plugins/simple_response
	url = https://github.com/collingreen/yaib_plugin_simple_response
